<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= locals.title || "Stephen Brooks" %></title>
    <meta name="description" content="Stephen Brooks - A full-stack freelance web developer for hire. I build websites for small businesses that either are new or already established.">
    <meta name="keywords" content="Web developer, web designer, express developer">
    <meta name="author" content="Stephen Brooks">
    <meta name="twitter:Freelance Web Developer" content="Web Developer for hire">
    <meta name="twitter:web designing" content="Get a new or improved website for better traffic">
    <meta name="twitter:url" content="https://twitter.com/ClearWebDesigns.png">
    <meta name="twitter:card" content="Web developer for hire">
    <!-- MDB icon -->
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="/mdbootstrap/css/style.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>