<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>

<style>
    body {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<body>

<%- include('partials/navBar') -%>

<!--Main layout-->
<main>
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <img src="/img/error.png" class="img-fluid" alt="img">
            <a href="/" class="btn btn-outline-white mt-3 rounded-pill">Go Home</a>
        </div>
    </div>
</main>
<!--Main layout-->

<%- include('partials/footer') -%>

</body>
<%- include('partials/scripts') -%>
</html>