<!--Section: About-->
<section id="about" class="about my-5">

    <!--Secion heading-->
    <h2 class="text-center text-uppercase font-weight-bold mt-5 pt-4 pt-4 spacing wow fadeIn" data-wow-delay="0.2s"><strong>About
            us</strong></h2>

    <!--Section description-->
    <p class="text-center text-uppercase font-weight-bold grey-text mb-5 pb-3 wow fadeIn" data-wow-delay="0.2s"><i
                class="fas fa-square red-text-2 mr-2" aria-hidden="true"></i> Lorem ipsum dolor sit amet</p>

    <!--First row-->
    <div class="row">

        <!--First column column-->
        <div class="col-xl-5 col-lg-6 pb-1 wow fadeIn" data-wow-delay="0.4s">

            <!--Description-->
            <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
                quisquam, dicta
                ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque animi maxime.
            </p>

            <p align="justify">Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
                voluptatum, magni
                impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi rem magnam ad perferendis
                iusto sint tempora.</p>

            <ul>
                <li>Nemo animi soluta ratione</li>
                <li>Beatae maxime temporibus</li>
                <li>Consectetur adipisicing elit</li>
                <li>Repellendus voluptatum, impedit</li>
            </ul>

        </div>
        <!--/First column-->

        <!--Column column-->
        <div class="col-xl-6 ml-lg-auto col-lg-6 mb-5 wow fadeIn" data-wow-delay="0.4s">

            <!--Image-->
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Technology/4-col/img%20%288%29.jpg" class="img-fluid rounded z-depth-1"
                 alt="My photo">

        </div>
        <!--/Column column-->

    </div>
    <!--/First row-->

</section>
<!--/Section: About-->

<hr>

<!--Section: Services-->
<section class="mt-5 mb-3" id="services">

    <!--Grid row-->
    <div class="row mt-5 pt-5 pb-3">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6">

            <!--Secion heading-->
            <h4 class="font-weight-bold mb-4 wow fadeIn" data-wow-delay="0.2s"><strong class="red-text-2 font-weight-bold"><i
                            class="fas fa-square red-text-2 mr-2" aria-hidden="true"></i> </strong>Our
                Services
            </h4>

            <!--Description-->
            <p align="" class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                soluta ratione quisquam, dicta
                ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque animi maxime.Soluta ratione
                quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit.
            </p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <img src="https://mdbootstrap.com/img/Photos/Others/images/31.jpg" class="img-fluid z-depth-1 rounded" alt="sample image">

            <!--Secion heading-->
            <h5 class="font-weight-bold dark-grey-text mt-4 mb-3 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum</h5>

            <!--Description-->
            <p align="justify" class=" font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                soluta ratione quisquam, dicta
                ab cupiditate iure eaque.
            </p>
            <a>
                <h6 class="font-weight-bold dark-grey-text font-small"> Read more<i class="fas fa-long-arrow-alt-right ml-2"
                                                                                    aria-hidden="true"></i></h6>
            </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6">

            <img src="https://mdbootstrap.com/img/Photos/Others/images/32.jpg" class="img-fluid z-depth-1 rounded" alt="sample image">

            <!--Secion heading-->
            <h5 class="font-weight-bold dark-grey-text mt-4 mb-3 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum</h5>

            <!--Description-->
            <p align="justify" class=" font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                soluta ratione quisquam, dicta
                ab cupiditate iure eaque.
            </p>
            <a>
                <h6 class="font-weight-bold dark-grey-text font-small"> Read more<i class="fas fa-long-arrow-alt-right ml-2"
                                                                                    aria-hidden="true"></i></h6>
            </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6">

            <img src="https://mdbootstrap.com/img/Photos/Others/images/30.jpg" class="img-fluid z-depth-1 rounded" alt="sample image">

            <!--Secion heading-->
            <h5 class="font-weight-bold dark-grey-text mt-4 mb-3 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum</h5>

            <!--Description-->
            <p align="justify" class=" font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
                soluta ratione quisquam, dicta
                ab cupiditate iure eaque.
            </p>
            <a>
                <h6 class="font-weight-bold dark-grey-text font-small"> Read more<i class="fas fa-long-arrow-alt-right ml-2"
                                                                                    aria-hidden="true"></i></h6>
            </a>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Services-->